# Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

Video Outline:

 Introduction to Variables
 Declaring and Assigning Variables
 Naming Conventions
 Understanding Variable Types
 Type Checking and Conversion
 Dynamic Typing
 Practical Examples and Common Errors

In [2]:
a=100

In [17]:
## Declaring And Assigning Variables

age=21
height=5.11
name="Abhinay"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 21
Height: 5.11
Name: Abhinay

In [1]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Abhinay"
last_name="Singh"
print(first_name,last_name)

Abhinay Singh

In [6]:
# Invalid variable names
#2age=21
first-name="Abhinay"
@name="Singh"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2107745184.py, line 3)

In [2]:
## case sensitivity
name="Abhinay"
Name="Abhinay"

name == Name

True

In [16]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=21 #int
height=5.11 #float
name="Abhinay" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [11]:
## Type Checking and Conversion

type(height)

float

In [13]:
age=21
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [14]:
age='21'
print(type(int(age)))

<class 'int'>

In [15]:
name="Abhinay"
int(name)

ValueError: invalid literal for int() with base 10: 'Abhinay'

In [18]:
height=5.11
type(height)

float

In [19]:
float(int(height))

5.0

In [20]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [3]:
## input

age=int(input("What is the age"))
print(age,type(age))

21 <class 'int'>

In [4]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 9.0
Difference: 1.0
Product: 20.0
Quotient: 1.25